/* css general y main */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-repeat: no-repeat;
    background-image: url(../img/fondo.jpg);
    background-size: cover;

}
#logo{
    width: 231px;
    height: 186px;
    vertical-align: middle;
    margin-left: 75px;
}

header h1{
    color: rgb(58, 21, 0);
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 50px;
    text-align: center;
}
header h2{
    color: rgb(58, 21, 0);
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}

header nav ul{
    list-style: none;
    text-align: center;
    background-color: rgba(248, 200, 129, 0.514);
    color: black;
}


header nav ul li{
    display: inline;
    margin: 20px;
    font-size: 22px;

}

header nav ul li a{
    color: black;
    text-decoration: none;
}

#texto1{
    color: white;
}


#front{
    width: 400px;
    height: 300px;
    opacity: 0.9;
    object-position: center;
}

footer{
    background-color: rgba(248, 200, 129, 0.514);
}

footer h3{
    font-size: 22px;
    text-align: center;

}

.main{
    display: inline-block;
    overflow: hidden;
}





/* css libreria */

.contenedor{
    height: 70vh;
    background-color: rgba(248, 200, 129, 0.514);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 33%);
    row-gap: 1rem;
    margin: 1rem;
    padding: 2rem;

    
}

.contenedor .libro2, .libro4{
    display: none;
}

.contenedor div img{
    width: 80%;
    object-fit: cover;
    object-position: center;
}

.libro1{
    width: 200px;
    height: 200px;

}
.libro2{
    width: 200px;
    height: 200px;

}
.libro3{
    width: 200px;
    height: 200px;
    
}
.libro4{
    width: 200px;
    height: 200px;

}
.libro5{
    width: 200px;
    height: 200px;

}



/* css Menu */
.contenedor{
    background-color: rgba(248, 200, 129, 0.514);
    height: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.contenedor .tazaCafe, .tazaTe{
    display: none;
}

.jugoNaranja{
    width: 300px;
    height: 300px;
    
}
.scones{
    width: 300px;
    height: 300px;
    
}
.tostados{
    width: 300px;
    height: 300px;
    
}
.tazaTe{
    width: 300px;
    height: 300px;
    
}
.tazaCafe{
    width: 300px;
    height: 300px;
    
}

#te{
    width: 300px;
    height: 300px;
}





/* css sobre nosotros */

#hermanos{
    width: 450px;
    height: 270px;
    
}

.hermanos-foto{
    text-align: center;
}

/* css contacto */
section{
    background-color: rgb(90, 51, 18);
}
section h2, form{
    text-align: center;
}

/* mq para pc */

@media screen and (min-width:1024px) {
    .contenedor .libro2, .libro4, .tazaTe {
        display: block;
    }

    .contenedor .tazaCafe{
        display: block;
    }


}